html
    height 100%
    width 100%
    display flex
    justify-content center
    align-items center

    .app
        display flex
        flex-direction column
        flex-wrap nowrap
        justify-content center
        align-items center

    .city-input
        width 150px
        background transparent
        border none
        border-bottom 1px solid #343E3D
        color #343E3D
        font-size 16px
        outline none
        text-align center
        -webkit-transition width 200ms
        transition width 200ms

        &:focus
            width 230px